body {
    margin: 0px;
    font-family: arial;
}

.cabecalho {
    background: linear-gradient(45deg, #fff, #3f51b5);
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 15px 0px;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    margin-right: 7px;
    margin-left: 7px;
    border: 1px solid #3f51b5;
    padding: 5px;
}

.lista {
    width: 100%;
    border-spacing: 0;
    box-sizing: border-box;
}

.lista tr:nth-child(1) {
    vertical-align: top;
    background-color: black;
    color: white;
    font-weight: bold;
}

.lista tr td {
    padding: 5px;
}
@media screen and (max-width: 420px) {
    .lista {
        width: auto;
        box-sizing: border-box;
        background-color: wheat;
    }
    .formulario .linha-formulario {
        margin-bottom: 15px;
    }